body{
    background-color: rgb(202, 202, 202);
}

img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border-style: double;
    border-width: 7px;
}

header{
    height: 100px;
    background-color: rgb(24, 51, 126);
    border-style: groove;
    border-color: white;
}

h2,h3{
    margin: 0;
    color: white;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

div:hover{
    color: rgb(44, 44, 114);
    transition: 0.5s;
}

button{
    width: 75px;
    height: 25px;
    border-style: double;
    border-radius: 5px;
    background-color: rgb(24, 51, 126);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border-color: white;
}

button:hover{
    background-color: rgb(49, 82, 175);
    transition: 1s;
}









