body{
    background-color: gray;
}

#text{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

header{
    background-color: #50698d;
    color: white;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border-style: double;
}

h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
}

hr{
    width: 60%;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(27, 12, 41);
    margin-top: 10px;
    color: white;
}


section{
    background-color: rgb(27, 12, 41);
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    width: 42%;
}

.sectionCenter{
    text-align: center;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

input[type="text"] {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(27, 12, 41);
    color: white;
}

input[type="number"] {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(27, 12, 41);
    color: white;
}

input[type="search"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(27, 12, 41);
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #50698d;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border-style: double;
}

select{
    background-color: #50698d;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-style: double;
}

button:hover{
    background-color: #7fc1d1;
}

select{
  margin-left: 700px;
}
