#text{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

header{
    background-color: #9f004a;
    color: white;
    padding: 10px;
    width: 40%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border-style: double;
}


h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
}

hr{
    width: 60%;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
    margin-top: 10px;
    color: white;
}

section{
    background-color: #000000;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 42%;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

input[type="text"] {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

input[type="search"] {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #9f004a;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border-style: double;
}

button:hover{
    background-color: #d8034a;
}

#imagen1{
    width: 350px;
    height: 450px;
    margin: 30px;
    border-radius: 5px;
    border-style: double;
}

#imagen2{
    width: 350px;
    height: 650px;
    margin: 20px;
    border-radius: 5px;
    border-style: double;
}